{{yield}}
<nav class="navbar is-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        Menu
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-item">
        {{#if currentUser.user}}
        {{#if currentUser.user.isAdmin}}
            {{#link-to 'main_page' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'admin_users' tagName="li"}}<a href="">Users</a>{{/link-to}}
            {{#link-to 'admin_requests' tagName="li"}}<a href="">Requests</a>{{/link-to}}
            {{#link-to 'admin_others' tagName="li"}}<a href="">Others</a>{{/link-to}}
            {{#link-to 'main_page' tagName="li"}}<a href="">Calendar</a>{{/link-to}}
            {{else}}
            {{#link-to 'reserve' tagName="li"}}<a href="" class="">Reserve</a>{{/link-to}}
            {{#link-to 'user_page' tagName="li"}}<a href="">User page</a>{{/link-to}}
        {{/if}}
        {{/if}}
        {{#if session.isAuthenticated}}
          <li><a href="#" {{action 'invalidateSession'}} tagName="li">Logout</a></li>
      {{else}}
      {{#link-to 'login' tagName="li"}}<a href="">Login</a>{{/link-to}}
      {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>