{{yield}}
<nav class="navbar is-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        Menu
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <div class="nav">
        {{#if currentUser.user}}
        {{#if currentUser.user.isAdmin}}
            {{#link-to 'admin_users' tagName="a" class="navbar-item"}}<a href="">Users</a>{{/link-to}}
            {{#link-to 'admin_requests' tagName="a" class="navbar-item"}}<a href="">Requests</a>{{/link-to}}
            {{#link-to 'admin_others' tagName="a" class="navbar-item"}}<a href="">Others</a>{{/link-to}}
            {{#link-to 'main_page' tagName="a" class="navbar-item"}}<a href="">Calendar</a>{{/link-to}}
            {{else}}
            {{#link-to 'reserve' tagName="a" class="navbar-item"}}<a href="" class="">Reserve</a>{{/link-to}}
        {{/if}}
        {{/if}}
        {{#if session.isAuthenticated}}
        {{#link-to 'login' tagName="a" class="navbar-item"}}<a href="#" {{action 'invalidateSession'}}>Logout</a>{{/link-to}}
      {{else}}
      {{#link-to 'login' tagName="a" class="navbar-item"}}<a href="#">Login</a>{{/link-to}}
      {{/if}}
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>