@import 'ember-basic-dropdown';
@import "bootstrap";
@import "bulma";
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
#content{
   padding:10px;
}
html{
   height:100%;
}
body{
    min-height: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,242,240,1) 38%, rgba(0,209,178,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(38%, rgba(245,242,240,1)), color-stop(100%, rgba(0,209,178,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,242,240,1) 38%, rgba(0,209,178,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,242,240,1) 38%, rgba(0,209,178,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,242,240,1) 38%, rgba(0,209,178,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,242,240,1) 38%, rgba(0,209,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00d1b2', GradientType=1 );
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 115%;
   /* background: url("/assets/img/wallpaper.jpg");
   min-height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
}
#footer
{
   position: absolute;
   bottom: 0;
   width:100%;
}
#edit-navbar
{
    background-color:transparent; 
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active
{
    background-color:transparent; 
}
#navbar_item{
   color:black;
   background-color:transparent;
   text-transform: uppercase;
}
.title{
   color:#1e1e1e;
}

.table{
   overflow:auto;
}
#language{
   width:40px;
   background-color: transparent;
}
.ember-basic-dropdown-trigger{
   text-align:center;
   margin-right: 10px;
   width:65px;
   color:#1e1e1e;
   font-weight: bold;
}
a.lenguage_link{
   color:#1e1e1e;
}
a.lenguaje_link:visited{
   color:#1e1e1e;
}
.ember-modal-dialog{
   background-color:#00d1b2;
   width:50%;
   text-align:center;
}
.navbar{
    background-color:transparent;
}
#main-navbar.collapse{
    background-color:transparent;
 }
 #logo{
     max-width:30%;
     height:6vw;
 }
a{
    color:black;
}



  