@import 'ember-basic-dropdown';
@import "bootstrap";
@import "bulma";
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
#content{
    padding:10px;
}
html{
    height:100%;
}
body{
    background: url("/assets/img/wallpaper.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer
{
    position: absolute; 
    bottom: 0;
    width:100%;
}
#edit-navbar
{
    background-color: #00d1b2;
}
#navbar_item{
    color:white;
    font-weight: bold;
    background-color:transparent;
}
.title{
    color:white;
}
#edit-navbar a:hover{
    background-color:transparent;
}
.table{
    overflow:auto;
}
#language{
    width:40px;
    background-color: transparent;
}
.ember-basic-dropdown-trigger{
    text-align:center;
    margin-right: 10px;
    width:65px;
    color:white;
    font-weight: bold;
}
a.lenguage_link{
    color:white;
}
a.lenguaje_link:visited{
    color:white;
}
.ember-modal-dialog{
    background-color:#00d1b2;
    width:50%;
    text-align:center;
}




  