<h1 class="text-center title">{{t "title.users"}}</h1>
{{#link-to 'users.new' tagName="a" class="is-pulled-right"}}<a href="" id="link_add"><b>{{t "linkAddUser"}}</b></a>{{/link-to}}
{{table-users}}
{{outlet}}