{{#if session.isAuthenticated}}
    {{#if currentUser.user}}
        <h1 class="title text-center">{{t "title.calendar"}}</h1>
        <div class="box" style="width:70%; margin:auto">
            {{holidays-calendar}}
        </div>
    {{/if}}
{{/if}}
{{outlet}}