<div class="title has-text-centered">Free days planner</div>
<form {{action 'authenticate' on='submit'}} class="box is-centered">
  <div class="field columns is-centered">
    <label class="column is-1">Username</label>
    <div class="control column is-1">
      {{input id='identification' value=identification}}
    </div>
  </div>
  <div class="field columns is-centered">
    <label class="column is-1">Password</label>
    <div class="control column is-1">
      {{input id='password' value=password type="password"}}
    </div>
  </div>
  <div class="control has-text-centered">
    <button class="button is-primary is-rounded is-focused">Submit</button>
  </div>
  {{#if errorMessage}}
    <div class="text-danger">Incorrect username or password</div>
  {{/if}}
</form>