<div class="tabs is-boxed">
  <ul>
    <li class="" id="calendar">
      <a>
        {{fa-icon "calendar"}}
        <span>&nbsp;Calendar</span>
      </a>
    </li>
    <li id="table">
      <a>
        {{fa-icon "list-ol"}}
        <span >&nbsp;My Holidays</span>
      </a>
    </li>
  </ul>
</div>
{{table-my-holidays}}

    